<div class="container">
<h1>Add New Vehicle</h1>
<p class="message">{{messages.message}}</p>
<form action="/vehicle" method="post">
<label for="descr">Description: </label><input id="descr" type="text" name="description"/>
<label for="reg">Reg_Number: </label><input id="reg" type="text" name="regNumber" />
<button type="submit" class="add">Add Vehicle</button>
</form>

<h1>Refuel </h1>
<p class="message fuel">{{messages.fuel}}</p>

<form action="/refuel" method="post">
<label for="id">Vehicle Id: </label>
<select name="id">
    {{#each ids}}
    <option>{{this.id}}: {{this.description}}</option>
    {{/each}}
</select>

<div><label for="liters">Liters: </label><input id="liters" type="number" name="liters"/></div>

<div><label for="amount">Amount: </label><input id="amount" type="number" name="amount"/></div>

<div><label for="distance">Distance: </label><input id="distance" type="number" name="distance"/></div>

<div><lable for="filled">Full Tank: </label><select name="filled">
    <option>Yes</option>
    <option>No</option>
</select></div>
<button type="submit" class="add">Refuel</button></div>
</form>
<form action="/vehicles" method="get">
<button type="submit" id="redirect">View Vehicles</button>
</form>
</div>
<script>
    

setTimeout(function(){document.querySelector(".message").style.display="none";
},5000);

document.querySelector(".message").style.display="block";
setTimeout(function(){document.querySelector(".fuel").style.display="none";
},5000);

document.querySelector(".fuel").style.display="block";


</script>
