<div class="container">
<h1>Add New Vehicle</h1>
<p>{{messages.message}}</p>
<form action="/vehicle" method="post">
<label for="descr">Description: </label><input id="descr" type="text" name="description"/>
<label for="reg">Reg_Number: </label><input id="reg" type="text" name="regNumber" />
<button type="submit">Add Vehicle</button>
</form>
</div>