<div class="container">
<h1>Add New Vehicle</h1>
<p class="message">{{messages.message}}</p>
<form action="/vehicle" method="post">
<label for="descr">Description: </label><input id="descr" type="text" name="description"/>
<label for="reg">Reg_Number: </label><input id="reg" type="text" name="regNumber" />
<button type="submit">Add Vehicle</button>
</form>

<h2>Refuel </h2>
<p class="message">{{messages.fuel}}</p>
<form action="/refuel" method="post">

<label for="id">Vehicle Id: </label>
<select name="id">
    {{#each ids}}
    <option>{{this.id}}</option>
    {{/each}}
</select>

<label for="liters">Liters: </label><input id="liters" type="number" name="liters"/>

<label for="amount">Amount: </label><input id="amount" type="number" name="amount"/>

<label for="distance">Distance: </label><input id="distance" type="number" name="distance"/>

<select name="filled">
    <option>Yes</option>
    <option>No</option>
</select>
<button type="submit">Refuel</button>
</form>
<form action="/vehicles" method="get">
<button type="submit" id="redirect">View Vehicles</button>
</form>
</div>